.clarity {
	color: white;
}

.green {
	background-color: #46BFBD;
}

.chromo {
	margin-right: auto;
	width: 100%;
	margin-left: auto;
}

.yellow {
	background-color: #FDB45C;
}

.red {
	background-color: #F7464A;
}

a {
	 cursor: pointer;
}

a:hover{
	color: #FDB45C;
	text-decoration: none;
}

.highlight {
	background-color: #333333;
	border-radius: 5px;
}

.unit-test {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.landing {
	margin-top: 32%;
}

body {
	background-color: black;
}

.back-button {
	background-color: #46BFBD;
	color: white;
	font-size: bold;
	float: left;
}

.header {
	text-align: center;
	margin-right: 15%;
}